absl-py==2.1.0
alembic==1.13.1
annotated-types==0.6.0
anyio==4.2.0
attrs==23.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
contourpy==1.1.1
cryptography==42.0.1
cycler==0.12.1
databricks-cli==0.18.0
dicomweb-client==0.59.1
diskcache==5.6.3
docker==6.1.3
ecdsa==0.18.0
einops==0.7.0
entrypoints==0.4
exceptiongroup==1.2.0
expiring-dict==1.1.0
expiringdict==1.2.2
fastapi==0.95.0
filelock==3.11.0
fire==0.5.0
flask==3.0.1
fonttools==4.47.2
fsspec==2023.12.2
gdown==5.0.0
girder-client==3.1.17
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.27.0
google-auth-oauthlib==1.0.0
greenlet==3.0.3
grpcio==1.60.0
gunicorn==21.2.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.6
imageio==2.33.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
itk==5.2.1.post1
itk-core==5.2.1.post1
itk-filtering==5.2.1.post1
itk-io==5.2.1.post1
itk-numerics==5.2.1.post1
itk-registration==5.2.1.post1
itk-segmentation==5.2.1.post1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsonschema==3.2.0
kiwisolver==1.4.5
lazy-loader==0.3
lmdb==1.4.1
Mako==1.3.0
Markdown==3.5.2
MarkupSafe==2.1.4
matplotlib==3.7.4
mlflow==2.9.2
monai==1.3.0
monailabel==0.8.1
mpmath==1.3.0
networkx==3.1
nibabel==5.2.0
ninja==1.11.1
nptyping==2.5.0
numpy==1.23.1
numpymaxflow==0.0.6
oauthlib==3.2.2
opencv-python-headless==4.7.0.72
openslide-python==1.1.2
packaging==23.2
pandas==2.0.3
passlib==1.7.4
pillow==10.2.0
protobuf==4.25.2
psutil==5.9.8
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
pydantic-core==2.6.3
pydicom==2.3.1
pydicom-seg==0.4.1
PyJWT==2.8.0
pynetdicom==2.0.2
pynrrd==1.0.0
pyparsing==3.1.1
pyrsistent==0.20.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytorch-ignite==0.4.11
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0
querystring-parser==1.2.4
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retrying==1.3.4
rfc3986==1.5.0
rsa==4.9
schedule==1.1.0
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
shapely==2.0.1
SimpleITK==2.3.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlparse==0.4.4
starlette==0.26.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.2.0
tifffile==2023.7.10
timeloop==1.0.2
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.1
typing-extensions==4.9.0
tzdata==2023.4
urllib3==1.26.18
uvicorn==0.21.1
watchdog==3.0.0
websocket-client==1.7.0
werkzeug==3.0.1
zipp==3.17.0
